body{
	padding: 0%;
	margin:0%;
}
.navbar{
	width: 100%;
	background-color: #000;
	position: fixed;
}
a.navbar-brand{
	width: 40%;
	padding-left: 5%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: new times;
	font-size: 2em;
	color: #fff;
	text-decoration: none;
	display: inline-block;
}
.navbar-nav{
	width: 50%;
	display: inline-block;
}
ul{
	list-style: none;
}
li{
	display: inline-block;
}
li a{
	padding: 10px;
}
.cl-effect a span {
	position: relative;
	display: inline-block;
	color: #fff;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
 	font-size: 18px;
	background: none !important;
	text-transform: uppercase;
	-webkit-transition: -webkit-transform 0.3s;
	-ms-transition: -webkit-transform 0.3s;
	-o-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	color: #fff;
}
.cl-effect a span::before {
	position: absolute;
	left: 0;
	width: 100%;
	font-size: 16px;
	color:#000;
	padding-top: 14px;
	padding-bottom: 14px;
	text-align: center;
	z-index:999;
	background: #fff;
	text-transform: uppercase;
	content: attr(data-hover);
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
	-webkit-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	-o-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
	-o-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
}
.cl-effect a:hover span,
.cl-effect a:focus span {
	-webkit-transform: rotateX(90deg) translateY(-22px);
	-moz-transform: rotateX(90deg) translateY(-22px);
	-o-transform: rotateX(90deg) translateY(-22px);
	-ms-transform: rotateX(90deg) translateY(-22px);
	transform: rotateX(90deg) translateY(-22px);
	color: #fff;
}
.csstransforms3d .cl-effect a:hover span::before,
.csstransforms3d .cl-effect a:focus span::before {
	background: none;
	color:#fff !important;
}